.upperLeft {
	background-color: blue;
}
.black {
	background-color: black;
}
.upperRight {
	background-color: red;
}
.lowerLeft {
	background-color: yellow;
}
.lowerRight {
	background-color: green;
}
.upperRow {
	width: 100%;
}
.block {
	/*border-radius: 50%;

	height: 100px;
	width: 100px;*/
	display: inline-block;
	/*width: 0px;
    height: 0px;
  	border-right: 60px solid transparent;
  	border-top: 60px solid red;
  	border-left: 60px solid red;
  	border-bottom: 60px solid red;
  	border-top-left-radius: 60px;
  	border-top-right-radius: 60px;
  	border-bottom-left-radius: 60px;
  	border-bottom-right-radius: 60px;*/
}

